:host {
  display: block;
  // CENTER?
  // text-align: center;

  // font-family: sans-serif;
  // min-width: 300px;
  // max-width: 600px;
  // max-width: 80%;
  // center:
  // @media (min-width: 1000) {
  //   margin: 0 50px auto;
  // }

  // background-color: pink;
}

h1 {
  a {
    // color: initial;
    color: var(--color-primary);
    text-decoration: initial !important;
  }
}

// :root {
//   background-color: var(--color-background);
// }
